table {
    border-collapse: collapse;
    background-color: black;
}
tr{
    font-size:1.5rem;
    border-style: none;
}
td {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 1.1rem;
}
.OutlineStyle {
    border-style: none;
}