.Content h1{
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: normal;
    color: #000000;
    text-transform: none;
    text-shadow: none;
    text-align: left;
}