$star1: "../imgs/star1.jpg";
$bg1: "../imgs/thirdpage.jpg ";

.account {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;

  .account-background {
    background-image: url($bg1);
    background-size: cover;
    background-color: rgba(64, 64, 64, 0.7);
    height: 100vh;
    overflow: auto;
    margin-top: 11rem;
  }
}
