$star1: "../imgs/star1.jpg";
$bg1: "../imgs/cellar.jpg ";

.cellar {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;

  .cellar-background {
    background-image: url($bg1);
    background-size: cover;
    background-color: rgba(64, 64, 64, 0.7);
    height: 100vh;
    overflow: auto;
    margin-top: 7rem;
  }

  .cellar-card {
    background-color: rgba(12, 12, 12, 0.779);
    opacity: 1;
    height: 350px;
    color: white;
  }

  .cellar-input {
    color: white;
  }

  .cellar-button {
    border: none;
    color: white;
    background-color: transparent;
  }
}
