$star1: "../imgs/star1.jpg";

.dictionary {
  background-image: url($star1);
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

.cardFront {
  width: 270px;
  height: 400px;
  transition: 0.3s;
  transform-style: preserve-3d;
  transform: perspective(500px);
  .cocktailContent {
    border-top: 2px solid violet;
    .contentText {
      color: white;
    }
    .moreButton {
      color: white;
    }
  }
  .front,
  .back {
    background-color: rgba(64, 64, 64, 0.7);
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY(180deg);
  }
}

.cardBack {
  width: 270px;
  height: 400px;
  transition: 0.3s;
  transform-style: preserve-3d;
  transform: perspective(500px);
  transform: rotateY(180deg);
  .cocktailContent {
    border-top: 2px solid violet;
    background-color: rgba(64, 64, 64, 0.7);
    .contentText {
      color: white;
    }
    .moreButton {
      color: white;
    }
  }
  .front,
  .back {
    background-color: rgba(64, 64, 64, 0.7);
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    backface-visibility: hidden;
  }
  .back {
    transform: rotateY(180deg);
  }
}
