.btntitle {
    color: white;
    font-size: 25px;
}
.startBtn {
    // margin-top: 5rem;
    width: 200px !important;
    height: 100px;
    color: white;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 1rem;
    cursor: pointer;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.startBtn:hover {
    background-color: rgba(128, 128, 128, 0.8);
}