.Correct{
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
    .correct {
        color: #8b00b9;
        font-weight: bold;
        /* text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #FFFFFF; */
    }
    .incorrect {
        color: #FFFFFF;
    }
}
.Correct li{
    text-align: left;
    padding: 10px;
    margin: 0 0 5px;
}