$star1: "../img/star1.jpg";

.navbar {
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: black;
  &::before {
    content: "";
    background: url($star1);
    background-size: cover;
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }
  .navbarAccount {
    position: relative;
    padding: 1rem 0 0 0;
    font-size: 20px;
    text-align: right;
    list-style: none;
    span {
      color: rgba(255, 255, 255, 0.7);
    }
    a {
      font-size: 1rem;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.7);
      padding: 20px;
      cursor: pointer;
      &:hover {
        font-weight: bolder;
      }
    }
  }
  .navbarLogo {
    position: relative;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    a {
      cursor: pointer;
    }
  }
  .navbarMenu {
    color: white;
    background-color: black;
    opacity: 0.7;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;

    .navbarButton {
      border-left: 0.5px solid white;
      border-right: 0.5px solid white;
      padding: 0 15px;
      a {
        font-size: 1rem;
        text-decoration: none;
        color: white;
        padding: 20px;
        cursor: pointer;
      }
      &:hover {
        font-weight: bolder;
      }
    }
  }
}
