.logo {
  font-size: 1rem;
  min-width: 10vw;
  cursor: pointer;
  p {
    color: white;
  }
}
.navbar {
  .navbarIntro,
  .navbarMypage,
  .navbarRecommend,
  .navbarLogin {
    color: white;
    padding: 0.5vw;

    cursor: pointer;
    &:hover {
      border-bottom: 2px solid white;
    }
  }
}
