.logo {
  p {
    color: white;
  }
  img {
    width: 10vw;
    cursor: pointer;
  }
}

.navbar {
  .navbarIntro,
  .navbarMypage,
  .navbarRecommend,
  .navbarLogin {
    color: white;
    padding: 0.5vw;
    cursor: pointer;
    &:hover {
      border: 2px solid white;
    }
  }
}
