@font-face {
  font-family: "Pretendard-Regular";
  src: url(Pretendard-Regular.otf);
}
@font-face {
  font-family: "Beautyschooldropoutii";
  src: url(Beautyschooldropoutii.ttf);
}
@font-face {
  font-family: "Library3am";
  src: url(Library3am.otf);
}

* {
  font-family: "Pretendard-Regular";
}
