$star1: "../imgs/star1.jpg";

.introduce {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;
}
.introduceTabs {
    margin: 180px auto 50px auto;
    width: 80vw;
    color: rgba(255, 255, 255, 0.8);
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0 10px 10px;
  }