$star1: "../imgs/star1.jpg";

.Introduction {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;
}

.bold {
  font-weight: bold;
}

.highlight {
  background-color: rgb(122, 10, 183);
}

.ProjectIdeaContents {
  color: white;

  h1 {
    font-size: 55px;
  }
  .intro {
    .alcohol {
      .title {
        font-size: 30px;
      }
  
      .text {
        font-size: 20px;
        text-align: left;
      }
  
      .chart {
        font-size: 15px;
      }
    }
  }
  .goal {
    .dylc {
      .title {
        font-size: 30px;
      }
  
      .text {
        font-size: 20px;
        text-align: left;
      }
    }
  }
}

.teamIntro {
  color: white;
  .infro {
    font-size: 20px;
  }
}

