$star1: "../imgs/star1.jpg";
$bg1: "../imgs/loungeRankBgImg.jpg";

.lounge {
  .lounge-rank-background {
    background-image: url($bg1);
    background-size: cover;
    height: 45rem;
    margin-top: 20%;
  }
  .white {
    color: white !important;
  }

  .table {
    background-color: black;
    color: white;
  }
  .table th {
    background-color: black;
    color: white;
  }

  .table td {
    background-color: black;
    color: white;
  }

  .item-table {
    background-color: black;
    color: white;
  }

  .item-table th {
    background-color: black;
    color: white;
  }
}

.lounge-rank-form {
  background-color: black;
}
