$star1: "../imgs/star1.jpg";

.mbti {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;
}
.btn {
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.mbtiResultPage {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;
}

.mbtiResultText{
  text-align: center;
  color: white;
  font-size: 30px
}
.mbtiResultBtn {
  text-align: center;
  color: white;
  font-size: 30px;
}
.mbtiResultBtn:hover {
  cursor: pointer;
  color: #a300d9;
}
.mbtiRestartBtn {
  text-align: center;
  color: white;
  font-size: 30px;
}
.mbtiRestartBtn:hover {
  cursor: pointer;
  color: #a300d9;
}
.mbtiLinkShareBtn {
  cursor: pointer;
}