$star1: "../imgs/star1.jpg";

.mbti {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;
}
.btn {
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(128, 128, 128, 0.5);
}

.mbtiResultInfoText {
    text-align: center;
    color: white;
    font-size: 30px;
  .mbtiResultInfoBtn{
    text-align: center;
    color: white;
    font-size: 30px;
  }
  .mbtiResultInfoBtn:hover {
    cursor: pointer;
    color: #a300d9;
  }
}

.mbtiResultPage {
  background-image: url($star1);
  background-size: cover;
  background-color: rgba(64, 64, 64, 0.7);
  height: 100vh;
  overflow: auto;
  .div {
    text-align: center;
    font-size: 30px;
    color: white;
  }

  .mbtiResultTitle {
    text-align: center;
    color: white;
    font-size: 33px;
  }
  .mbtiResultRecommend {
    color: white;
    font-size: 35px;
    text-align: center;
  }
  .mbtiResultImgAlingn {
    text-align: center;
    .mbtiResultImg {
      border-radius: 1rem;
      justify-content: center;
      width: 350px;
    }
    .mbtiResultGoodImg {
      border-radius: 1rem;
      justify-content: center;
      width: 150px;
    }
    .mbtiResultBadImg {
      border-radius: 1rem;
      justify-content: center;
      width: 150px;
    }
  }
  .mbtiResultText {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-Top: 20px;
    line-height: 1.8;
  }

  .mbtiResultGood {
    margin: 5px 0 10px 0;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  .mbtiResultBad {
    margin: 5px 0 10px 0;
    text-align: center;
    font-size: 25px;
    color: white;
  }
  .mbtiResultBottonBtns {
    display: flex;
    justify-content: center;
    .mbtiResultLinkShareBtn {
      cursor: pointer;
      .mbtiResultLinkShareImg {
        transition: all 0.2s linear;
      }
      .mbtiResultLinkShareImg:hover {
        transform: scale(1.2);
      }
    }
  }
  .mbtiRestartBtn {
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 1px;
  }
  
  .mbtiRestartBtn:hover {
    cursor: pointer;
    color: #a300d9;
  }

}
