table {
    border-collapse: collapse;
    background-color: black;
}
tr{
    border-style: none;
}
td {
    border: 2px solid rgb(255, 255, 255);
    color: white;
    font-size: 1.2rem;
}
.OutlineStyle {
    border-style: none;
    .Number:hover {
        cursor: pointer;
    }
}