.ProjectIdeaContents {
  color: white;
  h1 {
    font-size: 55px;
  }
}
.intro{
  .alcohol {
    .title {
      font-size: 30px;
    }
    .text {
      font-size: 20px;
      text-align: left;
    }
    .chart {
      font-size: 15px;
    }
  }
}
.goal{
  .dylc {
    .title {
      font-size: 30px;
    }
    .text {
      font-size: 20px;
      text-align: left;
    }
  }
}
.bold {
  font-weight: bold;
}
.highlight {
  background-color: rgb(122, 10, 183);
}