$star1: "../imgs/star1.jpg";

.quiz {
    background-image: url($star1);
    background-size: cover;
    background-color: rgba(64, 64, 64, 0.7);
    height: 100vh;
    overflow: auto;
}
.finalPage{
    text-align: center;
    border: 3px solid white;
    height: 180px;
    // display: flex;
    display: grid;
    padding: 1.2rem;
    align-items: center;
    justify-content: center;
    justify-items: center
}
.finalPage p {
    margin: 25px;
    font-size: 30px;
    font-family: Arial,sans-serif;
    color: #ffffff;
    font-weight: bold;
    p:hover{
        color: #a300d9;
    }
}
.finalPage p:hover {
    color: #a300d9;
    cursor:default;
}
.restart {
    /* background-color: black; */
    color: white;
    margin-top: 0.7rem;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    width: 4.5rem;
    font-weight: bold;
}
.restart:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
.startBtn:hover {
    background-color: rgba(128, 128, 128, 0.8);
}
.MuiLinearProgress-bar {
    background-color: white !important;
}
.confirmGuide {
    margin: 30px;
    font-size: 20px;
    font-family: Arial,sans-serif;
    color: #ffffff;
    font-weight: bold;
}