.finalPage{
    text-align: center;
    border: 3px solid white;
    height: 180px;
    // display: flex;
    display: grid;
    padding: 1.2rem;
    align-items: center;
    justify-content: center;
    justify-items: center
}
.finalPage p {
    font-size: 30px;
    font-family: Arial,sans-serif;
    color: #ffffff;
    font-weight: bold;
}
.restart {
    /* background-color: black; */
    color: white;
    margin-top:0.3rem;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    width: 4.5rem;
    font-weight: bold;
}
.restart:hover {
    background-color: rgba(128, 128, 128, 0.5);
}