$star1: "../imgs/star1.jpg";

.quiz {
    background-image: url($star1);
    background-size: cover;
    background-color: rgba(64, 64, 64, 0.7);
    height: 100vh;
    overflow: auto;
}

.QuizMain {
    .finalPage {
        text-align: center;
        border: 3px solid white;
        height: 190px;
        // display: flex;
        display: grid;
        padding: 1.2rem;
        align-items: center;
        justify-content: center;
        justify-items: center
    }

    .finalPage p {
        margin: 25px;
        font-size: 35px;
        font-family: Arial, sans-serif;
        color: #ffffff;
        font-weight: bold;

        p:hover {
            color: #a300d9;
        }
    }

    .finalPage p:hover {
        color: #a300d9;
        cursor: default;
    }

    .restart {
        /* background-color: black; */
        color: white;
        margin-top: 1rem;
        padding: 5px;
        cursor: pointer;
        text-decoration: none;
        font-size: 0.9rem;
        width: 4.5rem;
        font-weight: bold;
    }

    .restart:hover {
        background-color: rgba(128, 128, 128, 0.5);
    }
    .MuiLinearProgress-bar {
        background-color: white !important;
    }
    .confirmGuide {
        margin: 30px;
        font-size: 20px;
        font-family: Arial, sans-serif;
        color: #ffffff;
        font-weight: bold;
    }
    .quizSheet h1{
        color: #FFFFFF;
    }
}

.Question p {
    padding-left: 15px;
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: none;
    text-shadow: none;
    text-align: left;
}

.Answers {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
    .selectAnswer,
    .selectAnswer:hover {
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #FFFFFF;
    }
    li {
        text-align: left;
        padding: 10px;
        margin: 0 0 5px;
    }
    li:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-position: under;
        text-decoration-color: #FFFFFF;
    }
}

.Correct {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
    .correct {
        color: #a300d9;
        font-weight: bold;
    }
    .incorrect {
        color: #FFFFFF;
    }
    li {
        text-align: left;
        padding: 10px;
        margin: 0 0 5px;
    }
}

.OxTable {
    table {
        border-collapse: collapse;
        background-color: black;
    }
    tr {
        border-style: none;
    }
    td {
        border: 2px solid rgb(255, 255, 255);
        color: white;
        font-size: 1.2rem;
    }
    .OutlineStyle {
        border-style: none;

        .Number:hover {
            cursor: pointer;
            color: #a300d9;
        }
    }
}





